# aws service.
export EC2_KEYS_PATH=~/.ec2-keys
export EC2_HOME=~/Apps/ec2-api-tools-1.6.7.3
export PATH=$PATH:$EC2_HOME/bin
#export EC2_PRIVATE_KEY=$EC2_KEYS_PATH/jrappa/pk-C3SDD24HSR2OQ7D6LAZJVX37CNUJ2NRT.pem
#export EC2_CERT=$EC2_KEYS_PATH/jrappa/cert-C3SDD24HSR2OQ7D6LAZJVX37CNUJ2NRT.pem
export EC2_PRIVATE_KEY=$EC2_KEYS_PATH/bpowers/pk-TGHHTAEZS43BYPXGR5NEPUQXVUJ2ZO3Z.pem
export EC2_CERT=$EC2_KEYS_PATH/bpowers/cert-TGHHTAEZS43BYPXGR5NEPUQXVUJ2ZO3Z.pem
